.title {
  margin-top: 5px;
}

.standings-container {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 990px) {
  .standings-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }
  .positions {
    width: 100%;
  }
  .next-matches {
    margin-top: 50px;
  }
}



.title {
  margin-top: 5px;
}

.box {
  display: flex;
  justify-content: center;
}
.rank {
  width: 2.5%;
}
.qualification {
  line-height: 10px !important;
}
.standings-container {
  margin: 50px;
}
.next-matches {
  margin-top: 112px;
  flex-direction: column;
  display: flex;
  align-items: center;
}

#team-name-positions {
  text-decoration: none !important;
  color: black !important;
}

a {
  text-decoration: none !important;
}

.noquali {
  display: none;
}

@media (max-width: 580px) {
  .positions-results {
    display: none;
  }
}
